.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;

  & > * + * {
    margin-left: 1rem;
  }

  &__image {
    display: block;
    flex: 0 0 120px;

    &--large {
      flex: 0 0 188px;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__heading {
    margin-bottom: .3rem;
  }

  &__price {
    &--desktop {
      display: none;

      @media (min-width: get-breakpoint(sm)) {
        display: block;
      }
    }

    &--mobile {
      display: inline;

      @media (min-width: get-breakpoint(sm)) {
        display: none;
      }
    }
  }

  &__cta {
    margin-top: .5rem;
    display: inline-block;
    position: relative;
  }

  &__cta-success {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    font-size: $text-small;
    font-weight: $weight-header;
    color: get-color(success);

    & > * + * {
      margin-left: .5rem;
    }
  }
}
