.section-header {
  display: flex;

  flex-wrap: wrap;
  align-items: center;

  position: relative;
  margin-bottom: 32px;

  &__heading {
    flex-grow: 1;

    color: get-color(white);
    font-size: 20px;
  }
}
