.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  tr {
    & > td {
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  td {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  tfoot {
    td {
      padding-top: .5rem;
    }
  }
}
