<p>My name is Zac, i'm a 26 year old System Security Engineer and Web Designer living in Upstate NY. I make YouTube videos. Recently i've been addicted to Tarkov so that's what i've been streaming but I enjoy mixing it up every now and then with a new game or some VR.</p>

<p>For business inquiries contact: <a href="mailto:zchum@creatorsclub.net">zchum@creatorsclub.net</a></p>
