<ul class="breadcrumbs list list--horizontal">
  <li class="list__item breadcrumbs__item">
    <a class="breadcrumbs__link" href="/">
      Home
    </a>
  </li>

  <li class="list__item breadcrumbs__item">
    <a href="{{ product.url }}" class="breadcrumbs__link breadcrumbs__link--active">
      {{ product.title }}
    </a>
  </li>
</ul>
