<div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">
        <!-- TODO: Change to store name variable? -->
        Home
      </a>
    </li>

    <li class="breadcrumbs__item">
      {{ page.title }}
    </li>
  </ul>
</div>
