<form
  id="subForm"
  class="newsletter js-cm-form"
  action="https://www.createsend.com/t/subscribeerror?description="
  method="post"
  data-id="2BE4EF332AA2E32596E38B640E90561966B5F529D4AFB3BC5C04C93E91EE08BA578890B9AE1CBE985593243747C1DD6A3B1650A943EB7B14569A2F6793BA72F7"
>
  <label
    for="fieldEmail"
    class="newsletter__label"
  >Join the mailing list</label>

  <div class="newsletter__row">
    <input
      id="fieldEmail"
      name="cm-sattl-sattl"
      type="email"
      placeholder="example@example.com"
      class="newsletter__input input js-cm-email-input"
      required
    />

    <button
      class="newsletter__submit button button--primary js-cm-submit-button"
      type="submit"
    >Subscribe</button>
  </div>
</form>

<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
