.cart-totals {
  font-weight: 600;
  font-size: $text-medium;

  &__item {
    display: flex;

    & > * {
      flex: 1 1 auto;
    }

    & + & {
      margin-top: .5rem;
    }
  }

  &__amount {
    text-align: right;
  }
}