<div class="bar">
  <div class="container wrapper">
    <div class="grid">
      <div class="grid__column grid__column--12 grid__column--4@sm">
        <p class="bar__paragraph bar__paragraph--left">Drop 1 has ended</p>
      </div>

      <div class="grid__column grid__column--12 grid__column--4@sm">
        <p class="bar__paragraph bar__paragraph--center"></p>
      </div>

      <div class="grid__column grid__column--12 grid__column--4@sm">
        <p class="bar__paragraph bar__paragraph--right">ended <span data-timer="ends"></span></p>
      </div>
    </div>
  </div>
</div>

