<section class="cart-container">
  <div class="container wrapper">
    <div id="cart-component" class="cart-container__cart-component"></div>
  </div>
</section>

{% schema %}
  { "name": "Cart" }
{% endschema %}
