<section class="related-products">
  <div class="container wrapper">
    <h3 class="related-products__heading h5">You may also be interested in:</h3>
  </div>

  <div class="container wrapper wrapper--edgeless-to@md">
    <div class="grid grid--gapless">
      {% for product in collections['bestsellers'].products limit: 4 %}
        <div class="grid__column grid__column--6 grid__column--4@sm grid__column--3@lg">
          {% include 'product-tile' with product %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Related products"
  }
{% endschema %}
